

<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative"  data-aos-delay="100">
      <h1>Ingrese un número de <br> Historia Clínica</h1>
      <a href="buscar.html" class="btn-get-started">Ingresar</a>
      <br><br>
      <h1>¡Buen día, enfermer@!</h1>
      <h2>Al iniciar sesión podras buscar con mas facilidad a tus pacientes</h2>
      <a href="login.php" class="btn-get-started">Ingresar</a>
    </div>
  </section>

